@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Kumbh Sans',sans-serif;
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  margin-left: 1rem;
  padding: .5rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  background: #ff7d1a;
  color: #fff;
  border-radius: .3rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn:hover {
  -webkit-box-shadow: 2px 4px 3px 1px #ffede0;
          box-shadow: 2px 4px 3px 1px #ffede0;
  opacity: .6;
}

header {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.cart {
  position: fixed;
  top: 4rem;
  right: -100%;
  max-width: 300px;
  background: #fff;
  -webkit-box-shadow: 10px 8px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 8px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: right .5s;
  transition: right .5s;
  z-index: 5;
}

.cart.active {
  right: 3%;
}

@media (min-width: 992px) {
  .cart.active {
    right: 10%;
  }
}

.cart h3 {
  font-size: 1.1rem;
  padding: .5rem .5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart .cart-products-wrapper .cart-product {
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cart-products-wrapper .cart-product img {
  width: 3rem;
  height: 3rem;
  border-radius: .3rem;
}

.cart .cart-products-wrapper .cart-product .cart-product-data {
  padding-left: .5rem;
  font-size: .9rem;
  line-height: 1.4rem;
  color: #a1a1a1;
}

.cart .cart-products-wrapper .cart-product .cart-product-data .total-price {
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}

.cart .cart-products-wrapper .cart-product .delete-btn {
  background: none;
  border: none;
  margin-left: 1.5rem;
  color: red;
  cursor: pointer;
}

.cart .checkout-btn {
  width: 100%;
  margin-top: 1rem;
  margin-left: 0;
  font-size: .9rem;
}

.nav {
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 5;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav .nav-menu {
  list-style: none;
  position: absolute;
  top: 0;
  left: -2rem;
  background-color: #fff;
  padding: 1rem;
  width: 0;
  height: 100vh;
  -webkit-transition: width .4s;
  transition: width .4s;
  overflow: hidden;
}

.nav .nav-menu .nav-item {
  margin-bottom: 1rem;
}

.nav .nav-menu .nav-item .nav-link {
  color: #cecdcd;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.nav .nav-menu .nav-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 0;
  height: .1rem;
  background-color: #ff7d1a;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.nav .nav-menu .nav-item .nav-link:hover {
  color: #444141;
}

.nav .nav-menu .nav-item .nav-link:hover::after {
  width: 100%;
}

.nav i {
  font-size: 1.1rem;
}

.nav .open-menu {
  margin-top: .2rem;
}

.nav .cart-icon {
  margin-right: -1.3rem;
  margin-top: .2rem;
  cursor: pointer;
}

.nav .user-img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .nav .nav-menu {
    position: unset;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
    width: auto;
    height: 100%;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: visible;
  }
  .nav .nav-menu .close-menu {
    display: none;
  }
  .nav .nav-menu .nav-item {
    margin-right: 1rem;
  }
  .nav .open-menu {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav {
    width: 80%;
    margin: 0 auto;
    position: unset;
  }
}

.nav.active .nav-menu {
  width: 50%;
  left: 0;
  overflow: visible;
}

.nav.active .nav-menu .close-menu {
  margin-bottom: 1rem;
  display: block;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

.nav.active .nav-menu .nav-item .nav-link {
  color: #000;
  font-weight: 700;
}

main {
  width: 80%;
  margin: 2rem auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 500px) {
  main {
    width: 98%;
  }
}

main .product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  main .product {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
}

main .product .slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[4];
      grid-template-columns: repeat(4, minmax(100%, 1fr));
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

main .product .slider .slide {
  width: 100%;
}

main .product .imgs-wrapper {
  max-width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

@media (max-width: 600px) {
  main .product .imgs-wrapper {
    max-width: 100%;
  }
}

main .product .imgs-wrapper .slide-btn {
  position: absolute;
  background: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  main .product .imgs-wrapper .slide-btn {
    opacity: 0;
    visibility: hidden;
  }
}

main .product .imgs-wrapper .slide-btn .fas {
  color: #000;
  font-size: 1.2rem;
}

main .product .imgs-wrapper .slide-btn.right {
  top: 45%;
  right: .2rem;
}

main .product .imgs-wrapper .slide-btn.left {
  top: 45%;
  left: .2rem;
}

main .product .imgs-wrapper .slide-btn:hover .fas {
  color: #ff7d1a;
}

@media (max-width: 600px) {
  main .product .imgs-wrapper {
    height: auto;
  }
}

main .product .imgs-wrapper img {
  border-radius: .6rem;
}

main .product .imgs-wrapper .thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .product .imgs-wrapper .thumbnails img {
  margin-top: .6rem;
  width: 5rem;
  height: 5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .product .imgs-wrapper .thumbnails img.active {
  border: 3px solid #ff7d1a;
  opacity: .6;
}

@media (max-width: 766px) {
  main .product .imgs-wrapper .thumbnails {
    display: none;
  }
}

main .product .product-content {
  margin: auto;
  padding: .5rem;
}

main .product .product-content .company-name {
  color: #ff7d1a;
  text-transform: uppercase;
}

main .product .product-content .product-name {
  font-size: 3rem;
  margin: 2rem 0;
}

@media (max-width: 750px) {
  main .product .product-content .product-name {
    font-size: 2rem;
    margin: 1rem 0;
  }
}

main .product .product-content .product-data {
  color: #bbbbbb;
  line-height: 1.5rem;
}

main .product .product-content .price h1 {
  margin-top: 1.3rem;
}

main .product .product-content .price h1 .percentage {
  width: 1rem;
  font-size: 1rem;
  padding: .2rem;
  color: #ff7d1a;
  background-color: #ffede0;
  margin-left: 1rem;
}

main .product .product-content .price .original {
  margin: .5rem 0;
  color: #bbbbbb;
  text-decoration: line-through;
}

main .product .product-content .cart-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
}

main .product .product-content .cart-btns .amount {
  background: #ffede0;
}

main .product .product-content .cart-btns .amount button {
  color: #ff7d1a;
  font-size: 1rem;
  padding: .5rem 1rem;
}

main .product .product-content .cart-btns .amount .num {
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 800px) {
  main .product .product-content .cart-btns .add-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
  main .product .product-content .cart-btns .amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  main {
    margin-top: 5rem;
  }
}

main .close-fullscreen {
  display: none;
}

@media (min-width: 992px) {
  main img {
    cursor: pointer;
  }
  main.fullscreen-slider::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  main.fullscreen-slider .imgs-wrapper {
    z-index: 7;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  main.fullscreen-slider .imgs-wrapper .thumbnails {
    display: none;
  }
  main.fullscreen-slider .imgs-wrapper .slide-btn {
    visibility: visible;
    opacity: 1;
  }
  main.fullscreen-slider .close-fullscreen {
    display: block;
    position: absolute;
    top: 5%;
    right: 20%;
    z-index: 7;
    background: none;
    font-size: 1.4rem;
    color: #fff;
  }
  main.fullscreen-slider .close-fullscreen:hover {
    color: #ff7d1a;
  }
}
/*# sourceMappingURL=main.css.map */